.picsize {
    height: 80px;
    width: 80px;
    display: block;
    max-width: 100%;
  }

  .tilesA {
    background-color: rgb(180, 182, 52);
    height: 80px;
    width: 80px;
  }

  .tilesB {
    background-color: rgb(89, 207, 207);
    height: 80px;
    width: 80px;
   
  }

  .container {
    display: flex;
    flex
  }